:root {
    /* Colors */
    --c-bg: #242424;
    --c-bg-t: #242424e5;
    --c-pnl: #151111;

    --c-p: #ff3e3e;
    --c-s: #3eff41;
    --c-t: #3e88ff;
    --c-txt: #fff;
    --c-info: #44a44a;
    --c-warn: #ffa83e;
    --c-err: #d62525;

    --c-btn: #1a1a1a;
    --c-disabled: #5a5a5a;

    /* Numbers */
    --br: 0.15rem;
    --space: 0.2rem;

    /* Other */
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.25;
    font-weight: 400;

    color-scheme: dark;
    color: #fff;
    background-color: var(--c-bg);

    font-synthesis: none;
    text-rendering: optimizeLegibility;

    --fader-height: 12rem;
}

body {
    margin: 0;
    padding: 0;

    background-color: var(--c-bg);
    color: var(--c-txt);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

h1 {
    margin: 0;
    font-size: 1.8rem;
}

.mlcBranding {
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space);

    img {
        height: 2.8rem;
        padding-top: 0.1rem;
        width: 2.8rem;
        padding-left: 0.1rem;
    }

    h1 {
        padding: 0;
        margin: 0;
        height: max-content;
        text-align: left;
        font-size: 2rem;
        background-image: linear-gradient(90deg,
                #007f46 0%,
                var(--c-p) 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        user-select: none;
    }
}

button {
    background-color: var(--c-btn);
    outline: none;
    border: none;
    border-radius: calc(2 * var(--br));
    margin: 0.2rem;
    padding: 0.2rem 0.5rem;
    box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border: 2px solid transparent;

    transition: color, border 150ms;

    &:hover {
        border: 2px solid var(--c-p);
    }
}

.dialog:popover-open {
    /* width: 60vw;
    height: 80vh; */
    min-width: 25vw;
    min-height: 5vh;
    padding: 0;
    border: none;
    border-radius: var(--br);
    background-color: var(--c-pnl);

    display: grid;
    grid-template-rows: 2rem 1fr 2rem;

    animation-name: dialog-in;
    animation-duration: 150ms;
    animation-iteration-count: 1;

    .heading {
        height: 2rem;
        width: 100%;
        display: grid;
        grid-template-columns: 2rem 1fr 2rem;
        border-bottom: 1px solid var(--c-p);
        gap: var(--space);
        align-items: center;
        place-items: center;

        .icon {
            padding-right: 0.2rem;
            border-right: 1px solid var(--c-p);
        }

        .close {
            width: 1.5rem;
            height: 1.5rem;
            padding: 0;
        }


        h2 {
            margin: 0;
            text-align: center;
        }
    }

    .content {
        padding: 0.5rem;
        overflow-y: scroll;
    }

    .footer {
        display: flex;
        flex-direction: row;
    }

    &::backdrop {
        background-color: #90909005;
        backdrop-filter: blur(2px);
    }
}

@keyframes dialog-in {
    0% {
        scale: 0;
    }

    100% {
        scale: 100%;
    }
}

.cmpSpinner {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border-bottom-color: var(--c-p);
    border-left-color: var(--c-s);
    border-top-color: var(--c-t);
    border-right-color: var(--c-w);

    border-style: solid;
    border-width: 10px;
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;

    animation: spinner 1s linear 0s infinite forwards;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

input {
    background-color: var(--c-btn);
    border-radius: var(--br);
    border: none;
    border-bottom: 2px solid var(--c-bg);

    &:focus-visible {
        border-bottom: 2px solid var(--c-p);
        outline: none;
    }
}

.input {
    position: relative;
    display: block;
}

select {
    background-color: var(--c-btn);
    border-radius: var(--br);
    border: 1px solid var(--c-disabled);

    &:focus {
        border: 1px solid var(--c-p);
    }
}

.dissconnectModal {
    width: 35vw;
    min-height: 5vh;
    padding: 0;
    border: none;
    border-radius: var(--br);
    background-color: var(--c-pnl);

    h1 {
        width: 100%;
        text-align: center;
        padding: 0;
        margin: 0;
        border-bottom: 1px solid var(--c-p);
    }

    p {
        width: 100%;
        text-align: center;
    }

    &::backdrop {
        background-color: #90909005;
        backdrop-filter: blur(2px);
    }

    button {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
        display: block;
    }

    .cmpSpinner {
        width: 2rem;
        height: 2rem;
    }
}

.panel-c {
    background-color: var(--c-pnl);
    border-radius: var(--br);
    --fh: 1.25rem;

    h1 {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid var(--c-p);
        font-size: var(--fh);

        +.panel {
            height: calc(100% - var(--fh) - 1px - 2 * var(--space));
        }
    }

    .panel {
        width: calc(100% - 2 * var(--space));
        height: calc(100% - 2 * var(--space));

        margin: var(--space);

        * {
            margin: 0;
            padding: 0;
        }
    }
}

.tabContainer {
    width: 100%;
    height: 100%;

    display: grid;
    --tab-size: 1.5rem;

    .tabs {
        display: flex;
        gap: var(--space);

        scrollbar-width: none;

        .tab {
            background-color: var(--c-btn);
            border: none;
            border-radius: 0;
            margin: 0;
            padding: 0;
            --tmw: 2rem;
            --tbr: calc(2 * var(--br));

            &.selected {
                background-color: var(--c-p);
                color: var(--c-btn);
            }
        }
    }

    &.horizontal {
        grid-template-rows: var(--tab-size) 1fr;

        .tabs {
            height: calc(100% - 1px);
            width: 100%;
            overflow-x: auto;
            overflow-y: hidden;

            border-bottom: 1px solid var(--c-p);

            flex-direction: row;

            .tab {
                padding-left: 0.2rem;
                padding-right: 0.2rem;

                height: 100%;
                /* min-width: var(--tmw); */
                min-width: auto;
                white-space: nowrap;
                border-top-left-radius: var(--tbr);
                border-top-right-radius: var(--tbr);
            }
        }
    }

    &.vertical {
        grid-template-columns: var(--tab-size) 1fr;

        &.v-text {
            .tab {
                writing-mode: vertical-rl;
                text-orientation: sideways;
            }
        }

        .tabs {
            height: 100%;
            width: calc(100% - 1px);
            overflow-y: auto;
            overflow-x: hidden;

            border-right: 1px solid var(--c-p);

            flex-direction: column;

            .tab {
                padding-top: 0.2rem;
                padding-bottom: 0.2rem;

                width: 100%;
                /* min-height: var(--tmw); */
                min-height: auto;
                white-space: nowrap;
                border-top-left-radius: var(--tbr);
                border-bottom-left-radius: var(--tbr);
            }
        }
    }

    .tabContent {
        width: 100%;
        height: 100%;
    }
}

input[type=range].fader {
    height: var(--fader-height);
    --w: 1.25rem;
    width: var(--w);
    writing-mode: vertical-lr;
    direction: rtl;
    appearance: slider-vertical;
    vertical-align: bottom;
    box-sizing: border-box;
    border: none;

    /* Reseting */
    -webkit-appearance: none;
    background: transparent;

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
    }

    &:focus {
        outline: none;
    }

    /* New Styles */

    --tw: calc(0.3 * var(--w));
    --kw: calc(0.8 * var(--w));
    --kh: calc(1.5 * var(--kw));
    --t-c: #2b2a2a;

    /* Track */
    &::-webkit-slider-runnable-track {
        height: 100%;
        width: var(--tw);
        cursor: pointer;
        /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
        background: var(--c-p);
        border-radius: 1rem;
        border: 1px solid #010101;
        background: repeating-linear-gradient(var(--c-bg),
                var(--c-bg) calc(5% - 1px),
                var(--c-disabled) calc(5% - 1px),
                var(--c-disabled) calc(5% + 1px),
                var(--c-bg) calc(5% + 1px),
                var(--c-bg) 10%);
    }

    &::-moz-range-track {
        height: 100%;
        width: var(--tw);
        cursor: pointer;
        /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
        background: var(--c-p);
        border-radius: 1rem;
        border: 1px solid #010101;
        background: repeating-linear-gradient(var(--c-bg),
                var(--c-bg) calc(5% - 1px),
                var(--c-disabled) calc(5% - 1px),
                var(--c-disabled) calc(5% + 1px),
                var(--c-bg) calc(5% + 1px),
                var(--c-bg) 10%);
    }

    /* Knob */
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        margin-left: calc(-0.5 * var(--kw) + var(--tw) * 0.5);
        /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
        border: 1px solid var(--c-disabled);
        height: var(--kh);
        width: var(--kw);
        border-radius: var(--br);
        background: var(--c-btn);
        cursor: pointer;
        background: repeating-linear-gradient(var(--t-c),
                var(--c-btn) calc(50% - 1px),
                var(--c-p) calc(50% - 1px),
                var(--c-p) calc(50% + 1px),
                var(--c-btn) calc(50% + 1px),
                var(--t-c) 100%);
    }

    &::-moz-range-thumb {
        /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
        border: 1px solid var(--c-disabled);
        height: var(--kh);
        width: var(--kw);
        border-radius: var(--br);
        background: var(--c-btn);
        cursor: pointer;
        background: repeating-linear-gradient(var(--t-c),
                var(--c-btn) calc(50% - 1px),
                var(--c-p) calc(50% - 1px),
                var(--c-p) calc(50% + 1px),
                var(--c-btn) calc(50% + 1px),
                var(--t-c) 100%);
    }

    &:focus {
        &::-moz-range-thumb {
            border-color: var(--c-s);
        }

        &::-webkit-slider-thumb {
            border-color: var(--c-s);
        }
    }
}